{% load static %}
<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesPanel.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Panel Administrativo | Buena Milanesa</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>